extends layout

block content
	div(id = "content")
		canvas#text(onresize="update_canvas_size()")
		div#menu
			div
				div#sizer
					h1#size.slideval 14
					input#sizeslider(type="range" onchange="showSizeValue(this.value)" min="10" max="64")
				div#colorpicker
					h1#example What if I did?
				div.fontfinder
					input.tags
				//div#history
					h1#dateslideval 10
					input#historyslider(type="range" onchange="showHistoryValue(this.value)")
		
		input#input(type="text" class="wheelable" name="nextline" autocomplete="off")