extends layout

block content
    div(id = "content")
        canvas#text
        div.menu
                div.fontfinder
                    label(for='fonts')
                        |Font:
                    select.fonts
                div.vline
                div.sizer
                    h1.size.slideval 14
                    input.sizeslider(type="range" onchange="showSizeValue(this.value)" min="10" max="64")
                div.vline
                div.colorpicker
                    //h1.example What if I did
                //div#history
                    h1#dateslideval 10
                    input#historyslider(type="range" onchange="showHistoryValue(this.value)")
                div.vline
                div.movement
                    div.scroller
                        div.dpad.circle
                            div.dup
                            div.dleft
                            div.dcenter
                            div.dright
                            div.ddown
                    div.zoomer
                        div.zup
                            span.ztext
                                |+
                        div.zdown
                            span.ztext
                                |-
                div.arrow_box
                    div.top_arrow.arrow_up
                    div.bottom_arrow.arrow_up
                    div.bottom_arrow.arrow_up
                    div.bottom_arrow.arrow_up
                    
        input.textbox(type="text" class="wheelable" name="nextline" autocomplete="off")		input.(type="text" class="wheelable" name="nextline" autocomplete="off")