extends layout

block content
	div(id = "content")
		div#text
		div#menu
<<<<<<< HEAD
=======
			div#sizer
				input(type="range" onchange="showValue(this.value)" min="8" max="64")
				h1#size 14
>>>>>>> e4099ff273151de18f0784c71bbb68de47f023f6
		input#input(type="text" class="wheelable" name="nextline" autocomplete="off")