extends layout

block content
	div(id = "content")
		div#text
		div#menu
			div
				div#sizer
					
						h1#size 14
					
						input#sizeslider(type="range" onchange="showValue(this.value)" min="10" max="64")
					div#colorpicker
						h1#example What if I did?
		
		input#input(type="text" class="wheelable" name="nextline" autocomplete="off")